.navbarWrapper {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: right;
  gap: 30px;
  padding: 20px 0px;
}
a{
    text-decoration: none;
    color: #4E251F;
}
.navbarWrapper>a{
    font-size: 17px;
    font-weight: 600;
}
.navbarButton{
    background-color: #944833CC;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}